<div class="bg-light p-4 rounded">
  <h3>Sidebar</h3>
  <p>Testing the sidebar.</p>
</div>

<div class="p-4 mt-5 border-top">
  <h3>Tag List</h3>
  <p>
    {% include 'snippets/tagslist.njk' %}
  </p>
</div>
