---
layout: layouts/blog.njk
title: Chronicling the sf project
pagination:
    data: collections.post
    size: 3
    reverse: true
    alias: posts
---

<p class="lead">This part of the website is a space for those working on the project to document it in rough form.</p>
