---
layout: layouts/blank.njk
---

<div class="container my-vh-6">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-4 text-center">
      <h1 class="display-1">
        <strong>The SF Nexus</strong>
      </h1>
      <p class="lead mb-4">A hub for science fiction collections as data.</p>
      </a>
    </div>
  </div>
</div>


<div class="wrapper position-relative my-vh-5 bg-light">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-4">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5">
        <h2 class="h2">Open source & free</h2>
        <p>SF Nexus is an open access project. Data made available here is free for everyone.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Extracted Features</h2>
        <p>The SF Nexus leverages the potential of extracted features to make disagreggated copyrighted literature available for research purposes.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Jupyter Notebooks</h2>
        <p>We've provided access to custom Jupyter Notebooks in Google colab environments for researchers to explore our extracted features datasets more easily.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Visualizations</h2>
        <p>SF Nexus also features visualizations from the data including topic modeling and word embeddings.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row py-5 border-top">
    <div class="col-12 col-lg-6 border-right">
      <h2>Documentation</h2>
      <p>The full documentation can be found on
        <a href="https://github.com/SF-Nexus" class="link-fancy" target="_blank" rel="noopener">Github</a>.</p>
    </div>
    <div class="col-12 col-lg-6 pl-4">
      <h2>Credits</h2>
      <p>Many thanks to the all the grad students, librarians, and faculty who have contributed to this project.</p>
    </div>
  </div>
</div>