---
layout: layouts/blank.njk
---

<div class="container my-vh-6">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-4 text-center">
      <h1 class="display-1">
        Welcome to the
        <strong>SF Nexus!</strong>
      </h1>
      <p class="lead mb-4">This website makes available science fiction collections as data.</p>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">v0.10.0<span class="visually-hidden">latest version</span></span></a>
      <a class="link-fancy py-2" href="https://github.com/SF-Nexus">Check it out on Github
      <a class="link-fancy py-2" href="https://lcdssgeo.com/omeka-s/s/scifi/page/digitizing-science-fiction">And visit our Omeka site to see an exhibit of SF book covers
      </a>
    </div>
  </div>
</div>
